In [3]:
import scipy.stats as stats
import numpy as np

import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [4]:
data = pd.read_excel('./a_b test ecom.xlsx')
data.head(5)

       id     time  con_treat      page  converted
0  851104  11:48.6    control  old_page          0
1  804228  01:45.2    control  old_page          0
2  661590  55:06.2  treatment  new_page          0
3  853541  28:03.1  treatment  new_page          0
4  864975  52:26.2    control  old_page          1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         294478 non-null  int64
 1   time       294478 non-null  object
 2   con_treat  294478 non-null  object
 3   page       294478 non-null  object
 4   converted  294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [6]:
control = data.query('con_treat == "control"')

test = data.query('con_treat == "treatment"')

In [17]:
control.shape

(147202, 5)

In [18]:
test.shape

(147276, 5)

Видим, что выборка в группах почти одинаковая, что может свидетельствовать о корректных данных.

In [12]:
control['time'].describe()

count      147202
unique      35399
top       27:20.8
freq           15
Name: time, dtype: object

In [13]:
test['time'].describe()

count      147276
unique      35419
top       18:31.9
freq           15
Name: time, dtype: object

In [14]:
control['converted'].describe()

count    147202.000000
mean          0.120399
std           0.325429
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: converted, dtype: float64

In [15]:
test['converted'].describe()

count    147276.000000
mean          0.118920
std           0.323695
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: converted, dtype: float64

In [19]:
import bootstrapped.bootstrap as bs
import bootstrapped.compare_functions as bs_compare
import bootstrapped.stats_functions as bs_stats

In [21]:
s_1 = control['converted'].values

s_2 = test['converted'].values

b = bs.bootstrap_ab(s_1, s_2, stat_func=bs_stats.mean,
                    compare_func=bs_compare.difference, alpha=0.05, num_iterations=1_000)

print(b.lower_bound, b.upper_bound)

-0.0008380630587911954 0.003964756823726323

Различия между контрольной и тестовой группой статитсически не значимы, доверительный интервал проходит через ноль. 
Выводить изменения на продакшен не рекомендованно, они не дадут ни какого эффекта.